doctype html
html(lang="en")
  include components/_head
  body
    include components/_menu
    section.wrapper.product-page__padding-top.blog
      h2.main-title.main-title_blog Блог про детские коврики
      .blog__table
        div.blog__row(href="blogpage.html")
          img(src="img/article-first.png").blog__img
          .blog__desc
            .blog__date 10 марта 2018 года
            a.blog__title(href="#") Как называется врач, который смотрит в ухо
            .blog__text Смена прозрачных соплей выделениями другого цвета – желтого или зеленого, считается вполне нормальным явлением.
        div.blog__row(href="blogpage.html")
          img(src="img/article-first.png").blog__img
          .blog__desc
            .blog__date 10 марта 2018 года
            a.blog__title(href="#") Как называется врач, который смотрит в ухо
            .blog__text Смена прозрачных соплей выделениями другого цвета – желтого или зеленого, считается вполне нормальным явлением.
        div.blog__row(href="blogpage.html")
          img(src="img/article-first.png").blog__img
          .blog__desc
            .blog__date 10 марта 2018 года
            a.blog__title(href="#") Как называется врач, который смотрит в ухо
            .blog__text Смена прозрачных соплей выделениями другого цвета – желтого или зеленого, считается вполне нормальным явлением.
        div.blog__row(href="blogpage.html")
          img(src="img/article-first.png").blog__img
          .blog__desc
            .blog__date 10 марта 2018 года
            a.blog__title(href="#") Как называется врач, который смотрит в ухо
            .blog__text Смена прозрачных соплей выделениями другого цвета – желтого или зеленого, считается вполне нормальным явлением.
        div.blog__row(href="blogpage.html")
          img(src="img/article-first.png").blog__img
          .blog__desc
            .blog__date 10 марта 2018 года
            a.blog__title(href="#") Как называется врач, который смотрит в ухо
            .blog__text Смена прозрачных соплей выделениями другого цвета – желтого или зеленого, считается вполне нормальным явлением.
        div.blog__row(href="blogpage.html")
          img(src="img/article-first.png").blog__img
          .blog__desc
            .blog__date 10 марта 2018 года
            a.blog__title(href="#") Как называется врач, который смотрит в ухо
            .blog__text Смена прозрачных соплей выделениями другого цвета – желтого или зеленого, считается вполне нормальным явлением.
        button.blog__more-button Загрузить ещё статьи…
    include components/_footer
