doctype html
html(lang="en")
  include components/_head
  body
    include components/_menu
    section.wrapper.product-page__padding-top
      ul.back-routes
        li
          a.back-routes__route(href="#") В каталог ковриков
      .checkout
        h2.main-title Оформление заказа
        .checkout__bascket
          .checkout__basket-row
            .checkout__item(style="background-image: url(img/checkout1.jpg)")
            .checkout__item-desc
              h2.checkout__item-name Детский коврик «Полярная сова», 190x130x1.2 см
              div.checkout__item-price
                h3.checkout__item-price-new 7 990 р.
                h3.checkout__item-price-last.
                  10 990 р. <span class="coupon-discount">– 10%</span>
              div.checkout__item-count-line
                .checkout__item-count
                  button.remove-item(disabled)
                  span.checkout__count 1
                  button.add-item
              .checkout__remove
          .checkout__basket-row
            .checkout__item(style="background-image: url(img/checkout2.jpg)")
            .checkout__item-desc
              h2.checkout__item-name Детский коврик Pure Soft «Ночь в Норильске«, 190x130x1.2 см
              div.checkout__item-price
                h3.checkout__item-price-new 8 600 р.
                h3.checkout__item-price-last.
                    15 990 р. <span class="coupon-discount">– 10%</span>
              div.checkout__item-count-line
                .checkout__item-count
                  button.remove-item(disabled)
                  span.checkout__count 1
                  button.add-item
              .checkout__remove
        .checkout__bascket-bottom-row
              h2.checkout__bascket-coupon-appled.hide#couponAppled Ура! Скидочный купон активирован!
              .checkout__bascket-coupon-row.hide#couponRow
                input.checkout__bascket-coupon-input#couponInput
                button.checkout__bascket-coupon-apply#couponApply Применить
                .checkout__bascket-coupon-cancel#hideCoupon
              button.checkout__bascket-coupon#coupon Применить скидочный купон
              h2.checkout__bascket-sum Сумма заказа 26 980 руб.
        .checkout__delivery
          h2.checkout__delivery-title Доставка
          h3.checkout__delivery-way Способ доставки
          .toggle
            span.toggle-button.active(onclick="openTab(event, 'tab1', 'checkout__list')") Самовывоз в СДЭК
            span.toggle-button(onclick="openTab(event, 'tab2', 'checkout__list')") Служба доставки
          span.validate#delivery Заполните это поле.
          .checkout__delivery-adress
            h4.checkout__delivery-city-title#dilveryType Выберите адрес самовывоза в городе
            a.checkout__delivery-city.selectCity <span class="dash">Москва</span>
                .triangle
                .selectCity-modal
                  h2.selectCity-modal__title-new Введите название города <button class="closeNewCity"></button>
                  input.newCity-input
                  h2.selectCity-modal__title Ваш город <span>Москва</span>?
                  .selectCity-modal__buttons
                    button.selectCity-modal__accept Да
                    button.selectCityChange Выбрать другой
        .checkout__list#tab1(style="display:block")
          .checkout__list-title
            .col-42 Адрес самовывоза
            .col-18 Когда привезут
            .col-40 Сколько стоит
          .checkout__listcontent#search-content
            input(type="text" placeholder="Поиск по адресу" id="search-filter" onkeyup="searchFilter()")
            #not-found-list(style="display:none")
              h1 Упс. Ни одного адреса не найдено.
              p Попробуйте выбрать другой адрес самовывоза.
            form
              label.checkout__listitem(for="gtJ6b")
                input(type="radio" id="gtJ6b" name="check-list" value="gtJ6b")
                .highlight
                  .col-42.list-item Красного Знамени Пр-Кт, Д.34.
                  .col-18 14 апреля
                  .col-40 2 310 р.
              label.checkout__listitem(for="bV6hq")
                input(type="radio" id="bV6hq" name="check-list" value="bV6hq")
                .highlight
                  .col-42.list-item ул. Светланская, д.108б .
                  .col-18 14 апреля
                  .col-40 2 310 р.
              label.checkout__listitem(for="bbYjs")
                input(type="radio" id="bbYjs" name="check-list" value="bbYjs")
                .highlight
                  .col-42.list-item ул. Калинина, д.42 , оф.105.
                  .col-18 14 апреля
                  .col-40 2 310 р.
              label.checkout__listitem(for="zA76M")
                input(type="radio" id="zA76M" name="check-list" value="zA76M")
                .highlight
                  .col-42.list-item Ул. Пушкинская, Д.52, Оф.Б/Н.
                  .col-18 14 апреля
                  .col-40 2 310 р.
              label.checkout__listitem(for="v5GCD")
                input(type="radio" id="v5GCD" name="check-list" value="v5GCD")
                .highlight
                  .col-42.list-item Красного Знамени Пр-Кт, Д.35.
                  .col-18 14 апреля
                  .col-40 2 310 р.
              label.checkout__listitem(for="v5GCm")
                input(type="radio" id="v5GCm" name="check-list" value="v5GCm")
                .highlight
                  .col-42.list-item Красного Знамени Пр-Кт, Д.35.
                  .col-18 14 апреля
                  .col-40 2 310 р.
              label.checkout__listitem(for="v5GCP")
                input(type="radio" id="v5GCP" name="check-list" value="v5GCP")
                .highlight
                  .col-42.list-item Красного Знамени Пр-Кт, Д.35.
                  .col-18 14 апреля
                  .col-40 2 310 р.
              label.checkout__listitem(for="v5GCA")
                input(type="radio" id="v5GCA" name="check-list" value="v5GCA")
                .highlight
                  .col-42.list-item Красного Знамени Пр-Кт, Д.35.
                  .col-18 14 апреля
                  .col-40 2 310 р.
        .checkout__list#tab2
          .checkout__list-title
            .col-42 Адрес самовывоза
            .col-18 Когда привезут
            .col-40 Сколько стоит
          .checkout__listcontent#search-content
            form#deliveryForm
              label.checkout__listitem(for="gtJ6n")
                input(type="radio" id="gtJ6n" name="check-list" value="gtJ6n")
                .highlight
                  .col-42.list-item Курьерская служба Маршрут
                  .col-18 14 апреля
                  .col-40 1 300 р.
              label.checkout__listitem(for="bV6hn")
                input(type="radio" id="bV6hn" name="check-list" value="bV6hn")
                .highlight
                  .col-42.list-item Курьерская служба SV Logistic
                  .col-18 18 апреля
                  .col-40 2 310 р.
              label.checkout__listitem(for="bbYjn")
                input(type="radio" id="bbYjn" name="check-list" value="bbYjn")
                .highlight
                  .col-42.list-item Почта РФ
                  .col-18 Никогда
                  .col-40 450 р.
        .checkout__contacts
          .checkout__contacts-info
            h3.checkout__contacts-title Контакты
            .checkout__contacts-inputs.checkout__contacts_margin
              div
                h4.checkout__contacts-sub-title Имя и фамилия
                input(onchange="validate(this)",type="text").checkout__contacts-input.validateInput
                span.validate.name Заполните это поле.
              div
                h4.checkout__contacts-sub-title Телефон
                input(onchange="validate(this)",type="text", placeholder="+7 (___) ___-__-__" id="list-phone").validateInput.checkout__contacts-input
                span.validate.phone Заполните это поле.
              div
                h4.checkout__contacts-sub-title Электронная почта
                input(onchange="validate(this)",type="text").checkout__contacts-input.validateInput
                span.validate.mail Заполните это поле.
            h3.checkout__contacts-title Способ оплаты
            h4.checkout__contacts-sub-title.checkout__contacts_margin Оплата при получении наличными или картой
            h3.checkout__contacts-title Комментарий к заказу
            h4.checkout__contacts-sub-title Дополнительная информация
            textarea.checkout__contacts-comment.checkout__contacts_margin
        .checkout__order
          .checkout__order-row
            h2.checkout__order-title_small Сумма заказа
            h2.checkout__order-title_small 5 990 р.
          .checkout__order-row
            h2.checkout__order-title_small Доставка (Самовывоз СДЭК)
            h2.checkout__order-title_small 2 310 р.
          .checkout__order-row
            h2.checkout__order-title_thick Итого к оплате
            h2.checkout__order-title_big 8 300 р.
          .checkout__order-row.checkout__order-row_button
            button.checkout__order-button#order Оформить заказ
    include components/_footer
