doctype html
html(lang="en")
  include components/_head
  body
    include components/_menu
    section.wrapper.product-page__padding-top
      .checkout.checkout_success
        h1.main-title_success Спасибо!
        h2.main-sub-title_success Ваш заказ оформлен
        .success-order
          .success-order__row
            .success-order__left-col Заказ
            .success-order__right-col Детский коврик Pure Soft «Ночь в Норильске«, 190x130x1.2 см
          .success-order__row
            .success-order__left-col Дата доставки
            .success-order__right-col.fw-500 29 марта, в четверг
          .success-order__row
            .success-order__left-col Адрес доставки
            .success-order__right-col САМОВЫВОЗ СДЭК:  г. Владивосток, ул. Калинина, д.42 , оф.105.
          .success-order__row
            .success-order__left-col Получатель
            .success-order__right-col Терёхин Михаил Павлович
          .success-order__bottom-row
            .success-order__left-col К оплате
            .success-order__right-col.
              <span class="fw-500">10 490 руб.</span> <br/>с учётом 700 руб. за доставку
    .checkout_success-line
    section.wrapper
      .success-order__recomend
        h2.success-order__recomend-title Смотрите также
        .success-order__recomend-row
          a.success-order__recomend-item
            .success-order__recomend-photo(style="background-image: url(img/recomend1.jpg)")
            .success-order__recomend-desc Отзывы на коврики Parklon
          a.success-order__recomend-item
            .success-order__recomend-photo(style="background-image: url(img/recomend2.jpg)")
            .success-order__recomend-desc Интересные статьи по теме
    include components/_footer
