doctype html
html(lang="en")
  include components/_head
  body
    include components/_menu
    section.wrapper.feedback_padding
      .d-flex.space-between
        h2.main-title Отзывы на коврики
      .feedback__dropdown
        .feedback__dropdown-title Линейка
        .feedback__dropdown-item Все линейки
      .feedback
        .reviews__item
          .reviews__img
          div
            .reviews__desc-top
              .reviews__desc__img
              h2.reviews__title KatrinYamg
            p.reviews__text.
              Это нереально классный коврик. Поставляется в рулоне, упакован в фирменную коробку. Большой, хорошая толщина, нет никакого запаха. Очень приятный на ощупь, мягкий, красочный, очень тёплый и не скользкий. Самый ещё большой, что очень легко за ним ухаживать: протер тряпочкой и все! Не впитывает жидкость! Этот коврик понравился не только самой маленькой, но и старшим детям. Буду ещё покупать 2 коврика, чтобы старшим детям положить в комнаты и убрать обычные ковры-пылесборники! Однозначно Рекомендую!
        .reviews__item
          .reviews__img
          div
            .reviews__desc-top
              .reviews__desc__img
              h2.reviews__title KatrinYamg
            p.reviews__text.
              Это нереально классный коврик. Поставляется в рулоне, упакован в фирменную коробку. Большой, хорошая толщина, нет никакого запаха. Очень приятный на ощупь, мягкий, красочный, очень тёплый и не скользкий. Самый ещё большой, что очень легко за ним ухаживать: протер тряпочкой и все! Не впитывает жидкость! Этот коврик понравился не только самой маленькой, но и старшим детям. Буду ещё покупать 2 коврика, чтобы старшим детям положить в комнаты и убрать обычные ковры-пылесборники! Однозначно Рекомендую!
        .reviews__item
          .reviews__img
          div
            .reviews__desc-top
              .reviews__desc__img
              h2.reviews__title KatrinYamg
            p.reviews__text.
              Это нереально классный коврик. Поставляется в рулоне, упакован в фирменную коробку. Большой, хорошая толщина, нет никакого запаха. Очень приятный на ощупь, мягкий, красочный, очень тёплый и не скользкий. Самый ещё большой, что очень легко за ним ухаживать: протер тряпочкой и все! Не впитывает жидкость! Этот коврик понравился не только самой маленькой, но и старшим детям. Буду ещё покупать 2 коврика, чтобы старшим детям положить в комнаты и убрать обычные ковры-пылесборники! Однозначно Рекомендую!
        .reviews__item
          .reviews__img
          div
            .reviews__desc-top
              .reviews__desc__img
              h2.reviews__title KatrinYamg
            p.reviews__text.
              Это нереально классный коврик. Поставляется в рулоне, упакован в фирменную коробку. Большой, хорошая толщина, нет никакого запаха. Очень приятный на ощупь, мягкий, красочный, очень тёплый и не скользкий. Самый ещё большой, что очень легко за ним ухаживать: протер тряпочкой и все! Не впитывает жидкость! Этот коврик понравился не только самой маленькой, но и старшим детям. Буду ещё покупать 2 коврика, чтобы старшим детям положить в комнаты и убрать обычные ковры-пылесборники! Однозначно Рекомендую!
        .reviews__item
          .reviews__img
          div
            .reviews__desc-top
              .reviews__desc__img
              h2.reviews__title KatrinYamg
            p.reviews__text.
              Это нереально классный коврик. Поставляется в рулоне, упакован в фирменную коробку. Большой, хорошая толщина, нет никакого запаха. Очень приятный на ощупь, мягкий, красочный, очень тёплый и не скользкий. Самый ещё большой, что очень легко за ним ухаживать: протер тряпочкой и все! Не впитывает жидкость! Этот коврик понравился не только самой маленькой, но и старшим детям. Буду ещё покупать 2 коврика, чтобы старшим детям положить в комнаты и убрать обычные ковры-пылесборники! Однозначно Рекомендую!
        .reviews__item
          .reviews__img
          div
            .reviews__desc-top
              .reviews__desc__img
              h2.reviews__title KatrinYamg
            p.reviews__text.
              Это нереально классный коврик. Поставляется в рулоне, упакован в фирменную коробку. Большой, хорошая толщина, нет никакого запаха. Очень приятный на ощупь, мягкий, красочный, очень тёплый и не скользкий. Самый ещё большой, что очень легко за ним ухаживать: протер тряпочкой и все! Не впитывает жидкость! Этот коврик понравился не только самой маленькой, но и старшим детям. Буду ещё покупать 2 коврика, чтобы старшим детям положить в комнаты и убрать обычные ковры-пылесборники! Однозначно Рекомендую!
        .reviews__item
          .reviews__img
          div
            .reviews__desc-top
              .reviews__desc__img
              h2.reviews__title KatrinYamg
            p.reviews__text.
                Это нереально классный коврик. Поставляется в рулоне, упакован в фирменную коробку. Большой, хорошая толщина, нет никакого запаха. Очень приятный на ощупь, мягкий, красочный, очень тёплый и не скользкий. Самый ещё большой, что очень легко за ним ухаживать: протер тряпочкой и все! Не впитывает жидкость! Этот коврик понравился не только самой маленькой, но и старшим детям. Буду ещё покупать 2 коврика, чтобы старшим детям положить в комнаты и убрать обычные ковры-пылесборники! Однозначно Рекомендую!
        .reviews__item
          .reviews__img
          div
            .reviews__desc-top
              .reviews__desc__img
              h2.reviews__title KatrinYamg
            p.reviews__text.
                Это нереально классный коврик. Поставляется в рулоне, упакован в фирменную коробку. Большой, хорошая толщина, нет никакого запаха. Очень приятный на ощупь, мягкий, красочный, очень тёплый и не скользкий. Самый ещё большой, что очень легко за ним ухаживать: протер тряпочкой и все! Не впитывает жидкость! Этот коврик понравился не только самой маленькой, но и старшим детям. Буду ещё покупать 2 коврика, чтобы старшим детям положить в комнаты и убрать обычные ковры-пылесборники! Однозначно Рекомендую!
        .reviews__item
          .reviews__img
          div
            .reviews__desc-top
              .reviews__desc__img
              h2.reviews__title KatrinYamg
            p.reviews__text.
              Это нереально классный коврик. Поставляется в рулоне, упакован в фирменную коробку. Большой, хорошая толщина, нет никакого запаха. Очень приятный на ощупь, мягкий, красочный, очень тёплый и не скользкий. Самый ещё большой, что очень легко за ним ухаживать: протер тряпочкой и все! Не впитывает жидкость! Этот коврик понравился не только самой маленькой, но и старшим детям. Буду ещё покупать 2 коврика, чтобы старшим детям положить в комнаты и убрать обычные ковры-пылесборники! Однозначно Рекомендую!
      button.feedback-more Загрузить ещё отзывы…
    include components/_footer
