doctype html
html(lang="en")
  include components/_head
  body
    include components/_menu
    section.main-slider.wrapper
      .slider
        .main-slider__photo
        .main-slider__photo
        .main-slider__photo
    section.section-padding.wrapper
      h2.main-title.tablet-hidden.
        За что мамы любят детские коврики Parklon:
      .d-flex.row-wrap.about
        .about__cell
          .about__cell-img.secure
          div
            h2.about__cell-title.orange Делают игры безопаснее
            p.about__cell-text.
              Смягчают падения, не скользят. Мягко лежать, не больно ползать.
        .about__cell
          .about__cell-img.waterproof
          div
            h2.about__cell-title.blue Водонепроницаемые
            p.about__cell-text.
              Быстро сохнут. Сохраняют цвет после влажной уборки.
        .about__cell.about__cell_padding
          .about__cell-img.eco-friendly
          div
            h2.about__cell-title.blue Экологичные
            p.about__cell-text.
              Сделаны из гипоаллергенных материалов, не вбирают пыль, без запаха.
        .about__cell
          .about__cell-img.warm
          div
            h2.about__cell-title.light-orange Теплые
            p.about__cell-text.
              Защищают от холода, удерживают тепло. Ножки и спинка не мерзнут.
        .about__cell
          .about__cell-img.bright
          div
            h2.about__cell-title.violet Яркие и развивающие
            p.about__cell-text.
              Буквы, цифры, картинки не дают заскучать и учат новому.
        .about__cell.about__cell_padding
          .about__cell-img.soundproof
          div
            h2.about__cell-title.brown Поглощают шум
            p.about__cell-text.
              Буквы, цифры, картинки не дают заскучать и учат новому.
    section.section-padding.wrapper
      .d-flex.space-between
        h2.main-title Самые популярные коврики
        a(href="#").common-link.mobile-hidden Смотреть все коврики
      .popular-carpets
        .popular-carpets__card
          h2.popular-carpets__title Детский коврик Prime Living
          h3.popular-carpets__sub-title Щеночки/Мишка на каникулах
          .popular-carpets__img.first
          .popular-carpets__sizes
            p.popular-carpets__sizes-text.popular-carpets__dots Размер
            p.popular-carpets__sizes-text 200х180 см
          .popular-carpets__sizes
            p.popular-carpets__sizes-text.popular-carpets__dots Толщина
            p.popular-carpets__sizes-text 1,5 см
          .popular-carpets__desc
            .popular-carpets__price
              h2.popular-carpets__price-main 6 990 р.
            a.popular-carpets__about Подробнее
        .popular-carpets__card
          h2.popular-carpets__title Детский коврик Prime Living
          h3.popular-carpets__sub-title Щеночки/Мишка на каникулах
          .popular-carpets__img.second
          .popular-carpets__sizes
            p.popular-carpets__sizes-text.popular-carpets__dots Размер
            p.popular-carpets__sizes-text 200х180 см
          .popular-carpets__sizes
            p.popular-carpets__sizes-text.popular-carpets__dots Толщина
            p.popular-carpets__sizes-text 1,5 см
          .popular-carpets__desc
            .popular-carpets__price
              h2.popular-carpets__price-main 5 990 р.
            a.popular-carpets__about Подробнее
        .popular-carpets__card
          h2.popular-carpets__title Детский коврик Prime Living
          h3.popular-carpets__sub-title Щеночки/Мишка на каникулах
          .popular-carpets__img.third
          .popular-carpets__sizes
            p.popular-carpets__sizes-text.popular-carpets__dots Размер
            p.popular-carpets__sizes-text 200х180 см
          .popular-carpets__sizes
            p.popular-carpets__sizes-text.popular-carpets__dots Толщина
            p.popular-carpets__sizes-text 1,5 см
          .popular-carpets__desc
            .popular-carpets__price
              h2.popular-carpets__price-main 10 490 р.
              .d-flex.align-center
                h2.popular-carpets__price-old 11 990 р.
                p.popular-carpets__sale – 10%
            a.popular-carpets__about Подробнее
      a(href="#").common-link.mobile-visible.text-center.common-link_carpets Смотреть все коврики
    section.section-padding.wrapper.reviews-container
      .d-flex.space-between
        h2.main-title Посмотрите, что говорят мамы о ковриках Parklon
        a(href="#").common-link.mobile-hidden Смотреть все отзывы
      .reviews
        .reviews__item
          .reviews__img
          div
            .reviews__desc-top
              .reviews__desc__img
              h2.reviews__title KatrinYamg
            p.reviews__text.
                Это нереально классный коврик. Поставляется в рулоне, упакован в фирменную коробку. Большой, хорошая толщина, нет никакого запаха. Очень приятный на ощупь, мягкий, красочный, очень тёплый и не скользкий. Самый ещё большой, что очень легко за ним ухаживать: протер тряпочкой и все! Не впитывает жидкость! Этот коврик понравился не только самой маленькой, но и старшим детям. Буду ещё покупать 2 коврика, чтобы старшим детям положить в комнаты и убрать обычные ковры-пылесборники! Однозначно Рекомендую!
        .reviews__item
          .reviews__img
          div
            .reviews__desc-top
              .reviews__desc__img
              h2.reviews__title KatrinYamg
            p.reviews__text.
                Это нереально классный коврик. Поставляется в рулоне, упакован в фирменную коробку. Большой, хорошая толщина, нет никакого запаха. Очень приятный на ощупь, мягкий, красочный, очень тёплый и не скользкий. Самый ещё большой, что очень легко за ним ухаживать: протер тряпочкой и все! Не впитывает жидкость! Этот коврик понравился не только самой маленькой, но и старшим детям. Буду ещё покупать 2 коврика, чтобы старшим детям положить в комнаты и убрать обычные ковры-пылесборники! Однозначно Рекомендую!
        .reviews__item
          .reviews__img
          div
            .reviews__desc-top
              .reviews__desc__img
              h2.reviews__title KatrinYamg
            p.reviews__text.
                Это нереально классный коврик. Поставляется в рулоне, упакован в фирменную коробку. Большой, хорошая толщина, нет никакого запаха. Очень приятный на ощупь, мягкий, красочный, очень тёплый и не скользкий. Самый ещё большой, что очень легко за ним ухаживать: протер тряпочкой и все! Не впитывает жидкость! Этот коврик понравился не только самой маленькой, но и старшим детям. Буду ещё покупать 2 коврика, чтобы старшим детям положить в комнаты и убрать обычные ковры-пылесборники! Однозначно Рекомендую!
      a(href="#").common-link.mobile-visible.text-center Смотреть все отзывы
    section.wrapper.section-padding.section-padding-bottom
      .d-flex.certificates-and-articles
        .certificates
          h2.main-title.
            Сертификаты качества на наши коврики
          .certificates__slider
            .certificates__main-slide
              a(href="img/img-2.jpg", data-fancybox, id="certificatesMainLink")
                img(src="img/img-2.jpg", id="certificatesMainImg")
            .certificates__slider-col
              a.certificates__item(href="img/img-1.jpg", data-fancybox, style="background-image: url(img/img-1.jpg)")
              a.certificates__item(href="img/img-3.jpg", data-fancybox, style="background-image: url(img/img-3.jpg)")
              a.certificates__item(href="img/img-4.jpg", data-fancybox, style="background-image: url(img/img-4.jpg)")
        .articles
          .articles__top-row
            h2.main-title.
              Полезные статьи для мам
            a(href="#").common-link.mobile-hidden Смотреть все статьи
          div.articles__table
            .articles__row
              .articles__photo.first
              .articles__desc
                h2
                  a(href="#").articles__title
                    span Как называется врач, который смотрит в ухо
                p.articles__desc-text Смена прозрачных соплей выделениями другого цвета – желтого или зеленого, считается вполне нормальным явлением.
            .articles__row
              .articles__photo.second
              .articles__desc
                h2
                  a(href="#").articles__title
                    span Опорно-двигательный аппарат можно прокачать на ковриках
                p.articles__desc-text.
                  Смена прозрачных соплей выделениями другого цвета – желтого или зеленого.
            .articles__row
              .articles__photo.third
              .articles__desc
                h2
                  a(href="#").articles__title
                    span Опорно-двигательный аппарат можно прокачать на ковриках
                p.articles__desc-text.
                  Смена прозрачных соплей выделениями другого цвета – желтого или зеленого.
          a(href="#").common-link.mobile-visible.text-center Смотреть все статьи
    include components/_footer
